@import url("../css/bootstrap.css");
.pfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:hover .change-pfp{
    opacity: 1;
    visibility: visible;
  }
  .change-pfp {
    width: 100% !important;
    color: var(--bs-white);
    position: absolute !important;
    bottom: 0;
    right: 0;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-inset {
  box-shadow: 0 0 15px 0 rgb(from var(--bs-black) r g b / 0.1) inset;
}

.pfp-name {
  p {
    font-size: 1.1rem;
    margin: 0;
    line-height: 2;
  }
}

.social-icon a {
  display: block;
  margin: 0 !important;
}

.pfp-info {
  font-size: 18px;
  display: flex;
  gap: 20px;
  text-wrap: wrap;
  margin-bottom: 10px;
  span {
    text-align: start;
  }
  span:first-child {
    min-width: 100px;
    font-weight: 500;
  }
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--bs-dark);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.toast {
  --bs-toast-max-width: fit-content;
  i::before {
    border-radius: 50%;
    background: var(--bs-success);
    color: hsl(from var(--bs-success) h s calc(l + 50));
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-tab-shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.custom-file-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
}

.custom-file-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.custom-file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  border: 3px dashed var(--bs-black);
  border-radius: 15px;
  background: linear-gradient(145deg, #f8f9ff, #dddddd);
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.custom-file-input:hover + .custom-file-label {
  border-color: var(--bs-black);
  background: linear-gradient(145deg, #e9e9e9, #b6b6b6);
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgb(from var(--bs-black) r g b / 0.1);
}

.custom-file-label:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: all 0.6s;
  transform: rotate(45deg) translate(-100%, -100%);
}

.custom-file-input:hover + .custom-file-label:before {
  transform: rotate(45deg) translate(100%, 100%);
}

.file-icon {
  font-size: 4rem;
  color: var(--bs-black);
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
  z-index: 1;
}

.file-text {
  text-align: center;
  z-index: 1;
}

.file-text h5 {
  color: #495057;
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.file-text p {
  color: #6c757d;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.small-file .custom-file-label {
  padding: 1rem;
  min-height: 80px;
}

.small-file .file-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.small-file .file-text h5 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.small-file .file-text p {
  font-size: 0.8rem;
}

:has([data-bs-theme="light"]) {
  .social-icon a {
    &:first-child {
      color: hsl(from var(--bs-primary) h s calc(l));
      :hover {
        color: hsl(from var(--bs-primary) h s calc(l + 10)) !important;
      }
    }
    &:nth-child(2) {
      color: hsl(from var(--bs-dark) h s calc(l));
      :hover {
        color: hsl(from var(--bs-dark) h s calc(l + 10)) !important;
      }
    }
    &:nth-child(3) {
      color: hsl(from var(--bs-info) h s calc(l - 5));
      :hover {
        color: hsl(from var(--bs-info) h s calc(l + 5)) !important;
      }
    }
    &:last-child {
      color: hsl(from var(--bs-dark) h s calc(l - 5));
      :hover {
        color: hsl(from var(--bs-dark) h s calc(l + 5)) !important;
      }
    }
  }
  .nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #1d263e;
    --bs-nav-link-hover-color: var(--bs-gray-700);
    --bs-link-color: var(--bs-black);
  }
}

:has([data-bs-theme="dark"]) {
  .social-icon a {
    &:nth-child(2) {
      color: hsl(from var(--bs-light) h s calc(l));
      :hover {
        color: hsl(from var(--bs-light) h s calc(l - 15)) !important;
      }
    }
    &:last-child {
      color: hsl(from var(--bs-light) h s calc(l - 5));
      :hover {
        color: hsl(from var(--bs-light) h s calc(l - 15)) !important;
      }
    }
  }
  .nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: var(--bs-black);
    --bs-nav-pills-link-active-bg: #e6e6e6;
    --bs-nav-link-hover-color: var(--bs-gray-500);
    --bs-link-color: var(--bs-gray-200);
  }
}
