@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Kantumruy Pro" !important;
    /* background-color: #e6e6e6 !important; */
    line-height: 1.6 !important;
}

/* our color  */
.bg-footer {
    background-color: #1d263e !important;
}

/* Light mode */
body[data-bs-theme="light"] {
  --bs-body-bg: #e6e6e6;    /* Body background */
  --bs-body-color: #212529; /* Text color */
  --bs-card-bg: #ffffff;    /* Card = white */
  --bs-card-color: #212529; /* Card text */
}

/* Dark mode */
body[data-bs-theme="dark"] {
  --bs-body-bg: #212529;    /* Body background */
  --bs-body-color: #e6e6e6; /* Text color */
  --bs-card-bg: #212529;    /* Card = dark like body */
  --bs-card-color: #e6e6e6; /* Card text = white */
}

/* Custom theme for cards */
body[data-bs-theme="light"] .bg-card-theme {
  background-color: #ffffff !important;  /* White in light mode */
  color: #212529 !important;             /* Dark text */
}

body[data-bs-theme="dark"] .bg-card-theme {
<<<<<<< HEAD
  background-color: #212529 !important;  /* Dark in dark mode */
=======
  background-color: #1d263e !important;  /* Dark in dark mode */
>>>>>>> acb1c6a3af499262dd14f95b1826eeb4111c2b39
  color: #e6e6e6 !important;             /* White text */
}



/* Apply */
/* class="bg-body-theme" data-bs-theme="light" */
.bg-body-theme {
    background-color: var(--bs-body-bg) !important;
}
.bg-card-theme {
    background-color: var(--bs-card-bg) !important;
    color: var(--bs-card-color) !important;
    border-radius: 12px !important;
}

/* button  */
/* btn-dark-blue
btn-outline-dark-blue  */

/* dark blue btn light mode  */
body[data-bs-theme="light"] .btn-dark-blue{
    width: fit-content;
    border-radius: 5px !important;
    background-color: #1d263e !important;
    color: #ffffff !important;
    font-weight: 500;

}
body[data-bs-theme="light"] .btn-dark-blue:hover{
    width: fit-content;
    background-color: #343c53 !important;
    transition: all 0.3s ease;
    font-weight: 500;
}
body[data-bs-theme="light"] .btn-outline-dark-blue{
    width: fit-content;
    border: 1px solid #1d263e !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    color: #1d263e !important;
    font-weight: 500;
    transition: all 0.3s ease;
}
body[data-bs-theme="light"] .btn-outline-dark-blue:hover{
    width: fit-content;
    border: 1px solid #1d263e !important;
    border-radius: 5px !important;
    background-color: #1d263e !important;
    color: #fff !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* dark blue btn dark mode*/
body[data-bs-theme="dark"] .btn-dark-blue{
    width: fit-content;
    border-radius: 5px !important;
    background-color: #212529 !important;
    color: #ffffff !important;
    font-weight: 500;
    transition: all 0.3s ease;
}
body[data-bs-theme="dark"] .btn-dark-blue:hover{
    width: fit-content;
    border-radius: 5px !important;
    background-color: #33373b !important;
    color: #fff !important;
    font-weight: 500;

}
body[data-bs-theme="dark"] .btn-outline-dark-blue{
    width: fit-content;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    color: #fff !important;
    font-weight: 500;
    transition: all 0.3s ease;
}
body[data-bs-theme="dark"] .btn-outline-dark-blue:hover{
    width: fit-content;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: #1d263e !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

.text-body-theme {
    color: var(--bs-body-color) !important;
}

[data-bs-theme="blue"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-blue);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};

    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

/* Icon animation */
.icon-animate {
    display: inline-block;
    transition: transform 0.6s ease, opacity 0.3s ease;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 12px;
}

.fs-9 {
    font-size: 10px;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (min-width: 100px) {
    .img-app {
        width: 200px !important;
    }
}

@media screen and (min-width: 576px) {
    .img-app {
        width: 200px !important;
    }
}

@media screen and (min-width: 756px) {
    .img-app {
        width: 200px !important;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media {
    transition: transform 0.3s ease, color 0.3s ease;
}

.bi-facebook:hover {
    transform: scale(1.1) !important;
    color: #320ded !important;
}

.bi-youtube:hover {
    transform: translateY(-5px) !important;
    color: #ff0000 !important;
}

.bi-tiktok:hover {
    transform: translateY(-5px) !important;
    color: #0b0b0b !important;
}

.bi-github:hover {
    transform: translateY(-5px) !important;
    color: #171515 !important;
}
    /* Default (inactive) bullets */
.swiper-pagination-bullet {
  background: #ccc !important; /* gray for inactive */
  opacity: 1 !important;       /* make sure it's visible */
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #212529 !important; /* Bootstrap "danger" red */
}
body[data-bs-theme="dark"] .swiper-pagination-bullet{
    background: #1d263e !important; /* gray for inactive */
    opacity: 1 !important; 
}
body[data-bs-theme="dark"] .swiper-pagination-bullet-active {
  background: #ccc !important; /* Bootstrap "danger" red */
}